*{
    margin: 0;
    padding: 0;
}

.foto_header{
    align-items: center;
    display: flex;
    width: 100%;  
}

.dacad{
    background-color: #807d7d;

}

.columna_red {
    background-color: #edcf37;
    color: black;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center; 
}
.footer .col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.footer img {
    width:80px;
    height:80px
}
@media (min-width: 768px) {
    .footer .col {
        margin-bottom: 0;
    }
}
.alineacion{
    display: flex;
    justify-content: center;
    align-items: center;
}